.card {
	transition: border 1s;
	padding: 0.3em;
	opacity: 0.6;
	transition: opacity 1s;
	transition: transform 1s;
	&:hover {
		transform: scale(1.25);
		opacity: 1;
	}
	&__content {
		margin: 1em;
	}
	&__img {
		border-radius: 0.5em;
		height: 11em;
		width: 9em;
	}
	&__name {
		display: flex;
		align-items: flex-end;
		padding: 0.6em;
		height: 5em;
		width: 4em;
		color: aliceblue;
		position: absolute;
		opacity: 0;
		transition: opacity 2s;
		&:hover {
			opacity: 1;
		}
	}
}
