.character {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	position: absolute;
	height: 25em;
	width: 75%;
	margin: 4em;
	border: 1px solid black;
	background-image: url(../../media/bg-character.jpg);
	background-size: 100%;
	background-color: rgb(45, 35, 5);
	border-radius: 1em;
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);

	animation: mov 20s infinite;
	@media screen and (max-width: 768px) {
		width: 22em;
		height: 40em;
		display: flex;
	}
	&__img {
		height: 25em;
		width: 15em;
		position: absolute;
		right: 1em;
		bottom: 0px;
		z-index: 2;
		border-radius: 0.5em;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		@media screen and (max-width: 1023px) {
			right: 0;
		}
		@media screen and (max-width: 768px) {
			width: 22em;
		}
	}
	&__details {
		grid-area: 2 / 1 / 4 / 3;
		z-index: 2;
		text-shadow: 0 3 10 rgba(0, 0, 0, 0.7);
		padding: 2em;
		@media screen and (max-width: 768px) {
			display: flex;
			flex-direction: column;
			padding: 0.5em;
			align-items: center;
		}
	}
	&__name {
		font-family: "Rubik", Sans-serif;
		font-size: 2.5em;
		margin: 0;
		text-transform: uppercase;
		color: aliceblue;
	}
	&__p {
		display: flex;
		width: 75%;
		padding-left: 1em;
		color: aliceblue;
		font-size: 1em;
	}
}

@keyframes mov {
	from {
		background-position: top lef 0;
	}
	to {
		background-position: bottom right;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}
