@font-face {
	font-family: "BB";
	src: url("/public/assets/fonts/breakingbad.otf");
	font-style: normal;
	font-weight: normal;
}
.navbar {
	display: flex;
	position: relative;
	top: 0;
	background-image: url("/public/assets/img/bb-banner.png");
	width: 100%;
	height: 160px;
	padding: 20px;
	z-index: 1;
	box-shadow: 0 0 15px 20px rgb(13, 10, 10) inset;
}
.nabvar-links {
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	justify-content: center;
	flex-flow: row;
	padding: 10px;
}
.nabvar-links a {
	font-family: "BB";
	color: #ffffff;
	text-decoration: none;
	font-size: 70px;
	padding: 10px;
}
.nabvar-links a:hover {
	color: #001a39;
}
