.character {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	position: absolute;
	height: 30em;
	width: 75%;
	margin: 4em;
	border: 1px solid black;
	background-image: url(../../media/bg-character.jpg);
	background-size: 100%;
	background-color: rgb(45, 35, 5);
	border-radius: 1em;
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);

	animation: mov 20s infinite;
	@media screen and (max-width: 767px) {
		height: 36.5em;
		width: 16em;
		display: flex;
	}
	@media screen and (min-width: 768px) and (max-width: 1023px) {
		width: 90%;
		height: 30em;
	}
	&__img {
		height: 30em;
		width: 24em;
		position: absolute;
		right: 0em;
		bottom: 0px;
		z-index: 2;
		border-radius: 0 0.5em 0.5em 0;
		box-shadow: 0px 0px 1em 0px #000000;
		@media screen and (max-width: 767px) {
			right: 0;
			width: 16em;
			height: 21em;
			border-radius: 0em 0em 0.5em 0.5em;
		}
		@media screen and (min-width: 768px) and (max-width: 1023px) {
			right: 0;
			height: 30em;
			width: 20em;
		}
	}
	&__details {
		grid-area: 1 / 1 / 4 / 3;
		z-index: 2;
		text-shadow: 0 3 10 rgba(0, 0, 0, 0.7);
		padding: 2em;
		width: 70%;
		@media screen and (max-width: 767px) {
			display: flex;
			width: 100%;
			flex-direction: column;
			padding: 0.5em;
			align-items: center;
		}
		@media screen and (min-width: 768px) and (max-width: 1023px) {
			grid-area: 2 / 1 / 4 / 3;
		}
	}
	&__name {
		font-family: "Rubik", Sans-serif;
		font-size: 4em;
		padding-left: 1em;
		padding-bottom: 0.5em;
		text-transform: uppercase;
		color: aliceblue;
		@media screen and (max-width: 767px) {
			font-size: 1.5em;
			padding-left: 0;
		}
		@media screen and (min-width: 768px) and (max-width: 1023px) {
			font-size: 2em;
			padding-left: 0.5em;
			padding-bottom: 0;
		}
	}
	&__p {
		display: flex;
		width: 100%;
		padding-left: 1em;
		color: #172500;
		font-size: 2em;
		font-weight: bold;
		@media screen and (max-width: 767px) {
			font-size: 1em;
			padding-top: 0.5em;
			color: #0e1307;
		}
		@media screen and (min-width: 768px) and (max-width: 1023px) {
			font-size: 1.5em;
			padding-top: 0.5em;
			color: #0e1307;
		}
	}
}

@keyframes mov {
	from {
		background-position: top lef 0;
	}
	to {
		background-position: bottom right;
	}
}
